# AWS EC2 Dynamic Inventory Plugin Configuration
---
plugin: amazon.aws.aws_ec2

regions:
  - eu-central-1  # Твой регион

filters:
  tag:Role: jenkins
  instance-state-name: running

keyed_groups:
  - key: tags.Role
    prefix: role

hostnames:
  - ip-address  # Использовать публичный IP

compose:
  ansible_user: "'ec2-user'"
  ansible_ssh_private_key_file: "'/home/zubeq/.ssh/azubeq-frankfurt-key.pem'"
